# Big Data Structure of Pandas

## DataFrames

In [26]:
import pandas as pd

In [27]:
# making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
    "name": ["Bob", "Alex", "Janice"],
    "age": [60, 25, 33]
})

In [28]:
# Reading a DataFrame from a file
# other_df = pd.read_csv("myfile.csv")

In [29]:
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools

In [30]:
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)

In [31]:
# You can select several rows pf the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]

In [32]:
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [33]:
df = pd.DataFrame({
    "name": ["Bob", "Alex", "Janice"],
    "age": [60, 25, 33]
})
print(df.index) # prints 0-2, the line numbers

RangeIndex(start=0, stop=3, step=1)

In [34]:
print(df)

     name  age
0     Bob   60
1    Alex   25
2  Janice   33

In [25]:
print(df)

     name  age
0     Bob   60
1    Alex   25
2  Janice   33

In [10]:
# Create a DataFrame containing the same data,
# but wherename is the index
df_w_name_as_ind = df.set_index("name")
print(df_w_name_as_ind.index) # prints their name
print(df_w_name_as_ind)

Index(['Bob', 'Alex', 'Janice'], dtype='object', name='name')
        age
name
Bob      60
Alex     25
Janice   33

In [12]:
# Get the row for Bob
# .ix for earlier version
# new version
# .loc for label based indexing
# .iloc for positional indexing
bobs_row = df_w_name_as_ind.loc["Bob"]
print(bobs_row["age"]) # prints 60
print(bobs_row)

60
age    60
Name: Bob, dtype: int64

In [18]:
#### another example of DataFrame #2
import pandas as pd

data = {
    'name' : ['AA', 'IBM', 'GOOG'],
    'date' : ['2001-12-01', '2012-02-10', '2010-04-09'],
    'shares' : [100, 30, 90],
    'price': [12.3, 10.3, 32.3]
}

df = pd.DataFrame(data)
type(df)

print(df)

   name        date  shares  price
0    AA  2001-12-01     100   12.3
1   IBM  2012-02-10      30   10.3
2  GOOG  2010-04-09      90   32.3

In [19]:
# add column
df['owner'] = 'Unknown'

print(df)

   name        date  shares  price    owner
0    AA  2001-12-01     100   12.3  Unknown
1   IBM  2012-02-10      30   10.3  Unknown
2  GOOG  2010-04-09      90   32.3  Unknown

In [20]:
# change/set index
df.index = ['one', 'two', 'three']

print(df)

# set name as index
df = df.set_index(['name'])

print(df)

       name        date  shares  price    owner
one      AA  2001-12-01     100   12.3  Unknown
two     IBM  2012-02-10      30   10.3  Unknown
three  GOOG  2010-04-09      90   32.3  Unknown
            date  shares  price    owner
name
AA    2001-12-01     100   12.3  Unknown
IBM   2012-02-10      30   10.3  Unknown
GOOG  2010-04-09      90   32.3  Unknown

In [21]:
# access data by column-index
print(df['shares'])

# access data by row-index
print(df.loc['AA'])

name
AA      100
IBM      30
GOOG     90
Name: shares, dtype: int64
date      2001-12-01
shares           100
price           12.3
owner        Unknown
Name: AA, dtype: object

In [22]:
# delete some elements
del df['owner']
print(df)

df.drop('shares', axis = 1)
print(df)

            date  shares  price
name
AA    2001-12-01     100   12.3
IBM   2012-02-10      30   10.3
GOOG  2010-04-09      90   32.3
            date  shares  price
name
AA    2001-12-01     100   12.3
IBM   2012-02-10      30   10.3
GOOG  2010-04-09      90   32.3

## Series

In [13]:
import pandas as pd

In [14]:
s = pd.Series([1,2,3]) # make Series from list

In [15]:
# display the values in s
# note that index is to the far left
s

0    1
1    2
2    3
dtype: int64

In [16]:
s+2 # add a number to each element of s

0    3
1    4
2    5
dtype: int64

In [17]:
s.index #you can access the index directly

RangeIndex(start=0, stop=3, step=1)

In [18]:
# adding two series will add corresponding elements to each other
s + pd.Series([4,4,5])

0    5
1    6
2    8
dtype: int64

So, let's get back to first section...

In [23]:
bobs_row = df_w_name_as_ind.loc["Bob"]
type(bobs_row)
bobs_row

age    60
Name: Bob, dtype: int64

In [2]:
# another Series #2
import pandas as pd

# converting tuple to Series
h = ('AA', '2012-02-01', 100, 10.2)
s = pd.Series(h)

type(s)
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0            AA
1    2012-02-01
2           100
3          10.2
dtype: object

In [4]:
# another Series #3
import pandas as pd

# converting dictionary to Series
d = {'name' : 'IBM', 'date' : '2010-09-08', 'shares' : 100, 'price' : 10.2}
ds = pd.Series(d)

type(ds)
print(ds)

name             IBM
date      2010-09-08
shares           100
price           10.2
dtype: object

In [6]:
# another Series #4 (set name as index)
import pandas as pd

# converting dictionary to Series
f = ['FB', '2001-08-02', 90, 3.2]
f = pd.Series(f, index = ['name', 'date', 'shares', 'price'])

print(f)

f['shares'] # 90
f[0] # FB

name              FB
date      2001-08-02
shares            90
price            3.2
dtype: object

'FB'

In [7]:
f[['shares', 'price']]

shares     90
price     3.2
dtype: object

## Joining and grouping

In [35]:
df_w_age = pd.DataFrame({
    "name": ["Tom", "Tyrell", "Claire"],
    "age": [60, 25, 33]
})

In [36]:
df_w_height = pd.DataFrame({
    "name": ["Tom", "Tyrell", "Claire"],
    "height": [6.2, 4.0, 5.5]
})

In [38]:
joined = df_w_age.set_index("name").join(df_w_height.set_index("name"))

In [39]:
print(joined)
print(joined.reset_index())

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5
     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [41]:
# another example
df = pd.DataFrame({
    "name": ["Tom", "Tyrell", "Claire"],
    "age": [60, 25, 33],
    "height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
})

# use built-in aggregates
print(df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

In [42]:
medians = df.groupby("gender").quantile(0.5)
print(medians)

0.5      age  height
gender
F       33.0     5.5
M       42.5     5.1

In [43]:
# use a custom aggregate function
def agg(ddf):
    return pd.Series({
        "name": max(ddf["name"]),
        "oldest": max(ddf["age"]),
        "mean_height": ddf["height"].mean()
    })
print(df.groupby("gender").apply(agg))

          name  oldest  mean_height
gender
F       Claire      33          5.5
M       Tyrell      60          5.1

# Reading files...

In [25]:
import pandas as pd

# {if error} titles = pd.read_csv('titles.csv', index_col=None, encoding='utf-8')

casts = pd.read_csv('cast.csv', index_col=None)
casts.head() # display 5 first elements of the DataFrame

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [24]:
import pandas as pd

titles = pd.read_csv('titles.csv', index_col=None)
titles.tail() # display 5 last elements of the DataFrame

                      title  year
49995                 Rebel  1970
49996               Suzanne  1996
49997                 Bomba  2013
49998  Aao Jao Ghar Tumhara  1984
49999            Mrs. Munck  1995

In [31]:
pd.set_option('max_rows', 10, 'max_columns', 10)
print(titles)

print(len(titles)) # total number of rows in the file

                         title  year
0               The Rising Son  1990
1      The Thousand Plane Raid  1969
2             Crucea de piatra  1993
3                      Country  2000
4                   Gaiking II  2011
...                        ...   ...
49995                    Rebel  1970
49996                  Suzanne  1996
49997                    Bomba  2013
49998     Aao Jao Ghar Tumhara  1984
49999               Mrs. Munck  1995

[50000 rows x 2 columns]
50000

In [33]:
# change the head and tail parameters (amount of heads and tails)
titles.tail(7)

                           title  year
49993             Corruption.Gov  2010
49994  Lille Fridolf blir morfar  1957
49995                      Rebel  1970
49996                    Suzanne  1996
49997                      Bomba  2013
49998       Aao Jao Ghar Tumhara  1984
49999                 Mrs. Munck  1995

## Row and column selection

In [36]:
t = titles['title']

type(t)

pandas.core.series.Series

In [35]:
t.head()

0             The Rising Son
1    The Thousand Plane Raid
2           Crucea de piatra
3                    Country
4                 Gaiking II
Name: title, dtype: object

In [38]:
titles.loc[0]

title    The Rising Son
year               1990
Name: 0, dtype: object

## Filter data